= turbo_frame_tag "new_message" do
  = form_with url: conversation_messages_path(@current_conversation || @conversation), method: :post, remote: true, class: "" do |f|
    .flex
      %div{ class: "w-5/6" }
        = f.rich_text_area :body, placeholder: "Type a message...", name: "message[body]", class: "flex-1 resize-none border-gray-300 dark:border-gray-600 focus:ring-pink-400 focus:border-pink-400 dark:focus:ring-pink-500 dark:focus:border-pink-500"
      .flex-1.justify-between.mt-8{ class: "w-1/6" }
        = button_tag type: 'submit', class: "button-primary-small ml-2" do
          Send
          .px-2.py-1.ml-2
            = heroicon "arrow-up", variant: :outline, options: { class: "icon" }
        = button_tag type: 'submit', class: "button-secondary-small mt-2" do
          Schedule
          .px-2.py-1.ml-2
            = heroicon "calendar", variant: :outline, options: { class: "icon" }