<%= form_with(model: [@topic, content], class: "form w-100") do |form| %>
  <%= form.hidden_field :user_id, value: Current.user.id %>
  <%= form.hidden_field :topic_id, value: params[:topic_id]%>

  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :type, "Content Type", class: "form-label" %>
    <%= form.select :type, options_for_select(formated_content_types), { prompt: "Select content type" }, class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= form.label :content_text, "Content Text", class: "form-label" %>
    <%= form.rich_text_area :content_text, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
