.flex.overflow-hidden{ style: "height: 94vh;" }
  / Sidebar - Conversation List
  = render 'collapsible_sidebar', heading: 'Direct Messages' do
    - @conversations.each do |conversation|
      .m-2
        = link_to conversation_path(conversation), class: "flex items-center space-x-3 px-3 py-2 rounded-md hover:bg-pink-200 dark:hover:bg-pink-600 #{'bg-pink-400 text-white' if @current_conversation == conversation}" do
          - participant = conversation.conversation_participants.reject { |p| p.user == Current.user }.first
          %img.h-8.w-8.rounded-full{ src: participant.user.image_url || "default-avatar.png", alt: participant.user.username }
          %span.text-sm.font-medium.text-gray-900.dark:text-gray-200= participant.user.username


  / Main Chat Window
  %main.flex.flex-col{ class: "w-full" }
    - if @current_conversation
      / Chat Header
      - participant = @current_conversation.conversation_participants.reject { |p| p.user == Current.user }.first if @current_conversation
      - left_content = image_tag participant.user.image_url, alt: participant.user.username, class: "h-16 w-16 rounded-full mr-4" if @current_conversation
      - classes = "text-xl font-bold text-gray-800 dark:text-gray-200"
      - heading = participant.user.username if @current_conversation
      %div.w-full.dark:bg-gray-800.shadow-lg
        = render partial: 'header', locals: { left_content:, classes:, heading:, subtitle: "Last seen #{time_ago_in_words(participant.user.last_seen_at)} ago"}

      / Chat Messages
      %div.flex-1.overflow-y-scroll.p-4.bg-transparent.space-y-4
        / Turbo Stream Subscription
        - if @messages.any?
          - @messages.each do |message|
            %div.flex{class: message.user == Current.user ? 'justify-end' : 'justify-start'}
              %div.bg-white.dark:bg-gray-800.rounded-lg.p-3.shadow-md
                %p.text-sm.text-gray-800.dark:text-gray-200= message.body
        - if @current_conversation
          #messages{"data-controller" => "chat", "data-chat-conversation-id" => @current_conversation.id}
            = turbo_stream_from "conversation_#{@current_conversation.id}"
        - else
          %p.text-gray-500.text-center.dark:text-gray-400 No messages yet. Start the conversation!

      / Message Input
      .bg-gray-100.dark:bg-gray-800.p-4.border-t-2.dark:border-gray-800
        = render 'messages/form'