<turbo-frame id="main-content" class="text-muted">
  <div class="d-flex justify-content-between align-items-center" style="margin-top: 33px;">
    <h3 id="sidebar-heading"> <%= topic.name %> </h3>
    <%= link_to new_topic_content_path(topic) do %>
      <i class="bi bi-plus" style="font-size: 1.5em; color: hotpink;"></i>
    <% end %>
  </div>  
  <table class="table">
    <thead>
      <tr>
        <th scope="col" style="width: 5%; color: hotpink; font-size: 1.0em;">Lesson</th>
        <th scope="col" style="width: 25%; color: hotpink; font-size: 1.0em;"></th>
        <th scope="col" style="width: 55%; color: hotpink; font-size: 1.0em;" class="text-start"></th>
        <th scope="col" style="width: 15%; color: hotpink; font-size: 1.0em;" class="text-end">Updated</th>
      </tr>
    </thead>
    <tbody>
      <% topic.contents.each do |content| %>
        <tr>
          <td class="">
            <input type="checkbox" disabled="true" id="read_<%= content.id %>" <%= completion_checkbox_value content %> class="me-3 form-check-input">
          </td>
          <td class="align-items-center">
            <div class="d-flex align-items-center">
              <div>
                <%= link_to content.title, [content.topic, content], class: "text-decoration-none" %>
                <div style="font-size: 0.9em;" class="">
                  By: <%= link_to content.user.username, content.user, class: "text-decoration-none text-muted" %>
                </div>
              </div>
            </div>
          </td>
          <td class="text-start">
            <% if content.type == 'Article' %>
              <i class="bi bi-book content-icon" style="font-size: 1.5em; color: hotpink;"></i>
            <% end %>
          </td>
          <td class="text-end">
            <%= time_ago_in_words(content.updated_at) %> ago
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</turbo-frame>
