<div id="<%= dom_id topic %>" class="card">
  <div class="card-header d-flex justify-content-between">
    <%= link_to topic.name, topic_path(topic), class: 'card-title' %>
    <%= link_to edit_topic_path(topic) do %>
      <i class="bi bi-pencil-square" style="font-size: 1.2em; color: hotpink;"></i>
    <% end %>
  </div>
  <div class="card-body">
    <p class="card-text">This is some sample text for the topic card body. Maybe we could put an image here, or something of that nature.</p>
    <ul class="list-group list-group-flush">
      <% topic.contents.each do |content| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="read_<%= content.id %>" checked="true">
          </div>
          <div class="d-flex align-items-center ms-auto">
            <% if content.type == 'Article' %>
              <i class="bi bi-book" style="font-size: 1.2em; color: hotpink; margin-right: 10px;"></i>
            <% end %>
            <%= link_to content.title, content_path(content), class: 'text-decoration-none' %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<style>
  .form-check-input:checked {
    background-color: hotpink;
    border-color: hotpink;
  }
</style>
