= form_with model: @course, local: true do |f|
  = f.hidden_field :user_id, value: Current.user.id
  .field
    = f.label :title
    = f.text_field :title, class: "form-control"
  .field
    = f.label :description
    = f.textarea :description, class: "form-control"
  
  .field
    = f.label :image, "Cover Image"
    - if @course.image.attached?
      %p
        Current file:
        = link_to @course.image.filename.to_s, rails_blob_path(@course.image, disposition: "attachment")
    = f.file_field :image, value: @course.image.filename.to_s, class: "form-control"
  .field
    = f.label :public
    = f.check_box :public
  .field
    = f.label :has_chat
    = f.check_box :has_chat

  .field
    = f.label :tags
    - [@course.tags.length + 1, 5].min.times do |i|
      = f.fields_for :tags, @course.tags[i] || @course.tags.build do |tag_form|
        .flex.items-center.space-x-2
          = tag_form.hidden_field :id
          = tag_form.text_field :name, class: "form-control"
          = tag_form.check_box :_destroy, class: "form-checkbox"
          = tag_form.label :_destroy, "Remove", class: "ml-2"

  = f.submit 'Save', class: "button-primary w-full mt-2"