.my-4.py-2.mx-auto.dark:bg-gray-800.shadow-lg.pl-4{class: "w-11/12", data: { controller: "tabnav" } }
  - left_content = image_tag @course.image, alt: @course.title, class: "h-16 w-16 rounded-full mr-4"
  - owner_buttons = link_to("Edit", edit_course_path(@course), class: "button-primary mb-2") + link_to('Back to Courses', courses_path, class: "button-secondary mb-2")
  - visitor_buttons = link_to("Back to Courses", courses_path, class: "button-secondary mb-2")
  - right_content = (authenticated? && Current.user == @course.user) ? owner_buttons : visitor_buttons
  = render 'header', heading: @course.title, subtitle: "Course by #{@course.user.username}", right_content:, left_content:
  - if @course.tags.any?
    .flex.justify-between.my-6.ml-2
      = render 'tags/tags', taggable: @course
      = render 'votes/button', voteable: @lesson
  %p.p-3
    = @course.description
  %div.tabnav
    .tabnav-tabs
      %a.tabnav-tab.active{ data: { content: "table-of-contents", action: "click->tabnav#activate", tabnav_target: "tab" } }
        .flex
          = heroicon "book-open", variant: :outline, options: { class: "icon" }
          Contents
      %a.tabnav-tab{ data: { content: "contribute", action: "click->tabnav#activate", tabnav_target: "tab" } }
        .flex
          = heroicon "wrench-screwdriver", variant: :outline, options: { class: "icon" }
          Contributions
      %a.tabnav-tab{ data: { content: "chat", action: "click->tabnav#activate", tabnav_target: "tab" } }
        .flex
          = heroicon "chat-bubble-left-right", variant: :outline, options: { class: "icon" }
          Course Chatroom
      %a.tabnav-tab.right{ data: { content: "people", action: "click->tabnav#activate", tabnav_target: "tab" } } 
        .flex
          = heroicon "users", variant: :outline, options: { class: "icon" }
          People
      - if authenticated? && Current.user == @course.user
        %a.tabnav-tab{ data: { content: "settings", action: "click->tabnav#activate", tabnav_target: "tab" } }
          .flex
            = heroicon "cog-6-tooth", variant: :outline, options: { class: "icon" }
            Settings
  #table-of-contents.tabnav-content{ data: { tabnav_target: "content" } }
    = render 'chapters/table_of_contents'
  
  #contribute.tabnav-content.hidden{ data: { tabnav_target: "content" } }
    %p.p-3= "Contribute to this course by adding lessons. Coming soon."
  
  #chat.tabnav-content.hidden{ data: { tabnav_target: "content" } }
    %p.p-3= "Chat with other students in this course. Coming soon."
  
  #people.tabnav-content.hidden{ data: { tabnav_target: "content" } }
    %p.p-3= "People who are taking this course. Coming soon."
  
  - if authenticated? && Current.user == @course.user
    #settings.tabnav-content.hidden{ data: { tabnav_target: "content" } }
      .p-3= render 'chapters/form'