.chapter{ "data-controller" => "chapters" }
  .flex.text-xl.mx-3.my-4.justify-between.border-b.border-gray-700
    %h2.place-self-start= "#{chapter.number}: #{chapter.title}"
    .flex.items-center
      = button_to new_chapter_lesson_path(chapter), method: :get, class: "place-self-end text-gray-300" do
        = heroicon "plus", variant: :outline, options: { style: "width: 20px; height: 20px;"}
      %button.place-self-end.text-gray-300.mb-1{"data-action" => "click->chapters#toggleDropdown", "data-chapters-target": "dropdownDownButton"}
        = heroicon "chevron-down", variant: :outline, options: { style: "width: 20px; height: 20px;"}
      %button.hidden.place-self-end.text-gray-300.mb-1{"data-action" => "click->chapters#toggleDropdown", "data-chapters-target": "dropdownUpButton"}
        = heroicon "chevron-up", variant: :outline, options: { style: "width: 20px; height: 20px;"}
  .dropdown
    .flex.space-x-4.items-center.p-2.hidden.dropdown-content{"data-chapters-target" => "dropdownContent"}
      - if chapter.lessons.any?
        - chapter.lessons.order(:created_at).each do |lesson|
          = render lesson
      - else
        %p.text-gray-500= "This chapter is empty."
        = button_to "Add a lesson", new_chapter_lesson_path(chapter_id: chapter.id), method: :get, class: "mt-2"