<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <i class="bi bi-terminal logo-icon" style="font-size: 1.5em;"></i>
        <a class="navbar-brand" href="#">
            CodeQuest
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <%= link_to 'Learn', topics_path, class: "nav-link #{navbar_active?(topics_path)}" %>
                </li>
                <li class="nav-item">
                    <%= link_to 'Create', new_content_path, class: "nav-link #{navbar_active?(new_content_path)}" %>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <% if Current.user %>
                    <li class="nav-item">
                        <%= link_to user_path(Current.user), class: 'nav-link profile-icon' do %>
                            <i class="bi bi-person"></i>
                        <% end %>
                    </li>
                <% else %>
                    <li class="nav-item">
                        <%= link_to new_session_path, class: 'nav-link' do %>
                            <i class="bi bi-box-arrow-in-right" style="font-size: 1.5em;"></i>
                        <% end %>
                    </li>
                    <li class="nav-item">
                        <%= link_to new_user_path, class: 'nav-link' do %>
                            <i class="bi bi-person-plus" style="font-size: 1.5em;"></i>
                        <% end %>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</nav>
