<%# app/views/layouts/_vote_buttons.html.erb %>
<%# This partial expects `content` and `user` to be passed in %>
<% vote = Vote.where(user_id: user.id, content_id: content.id).first %>
<% if vote %>
    <% if vote.value > 0 %>
        <i class="bi bi-hand-thumbs-up-fill vote-button" data-value="1" data-content-id="<%= content.id %>" data-user-id="<%= user.id %>" style="font-size: 1.2em; color: hotpink;"></i>
        <i class="bi bi-hand-thumbs-down vote-button" data-value="-1" data-content-id="<%= content.id %>" data-user-id="<%= user.id %>" style="font-size: 1.2em; color: hotpink;"></i>
    <% else %>
        <i class="bi bi-hand-thumbs-up vote-button" data-value="1" data-content-id="<%= content.id %>" data-user-id="<%= user.id %>" style="font-size: 1.2em; color: hotpink;"></i>
        <i class="bi bi-hand-thumbs-down-fill vote-button" data-value="-1" data-content-id="<%= content.id %>" data-user-id="<%= user.id %>" style="font-size: 1.2em; color: hotpink;"></i>
    <% end %>
<% else %>
    <i class="bi bi-hand-thumbs-up vote-button" data-value="1" data-content-id="<%= content.id %>" data-user-id="<%= user.id %>" style="font-size: 1.2em; color: hotpink;"></i>
    <i class="bi bi-hand-thumbs-down vote-button" data-value="-1" data-content-id="<%= content.id %>" data-user-id="<%= user.id %>" style="font-size: 1.2em; color: hotpink;"></i>
<% end %>
<span class="mx-3 vote-sum" style="font-size: 1.2em; color: hotpink;">
    <%= Vote.where(content_id: content.id).sum(:value) %>
</span>

<script>
    $(document).ready(function() {
        $('body').on('click', '.vote-button', function(event) {
            const button = $(event.target);
            const value = button.data('value');
            const contentId = button.data('content-id');
            const userId = button.data('user-id');

            $.ajax({
                url: '/votes',
                method: 'POST',
                contentType: 'application/json',
                headers: {
                    'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
                },
                data: JSON.stringify({ vote: { value: value, content_id: contentId, user_id: userId } }),
                success: function(data) {
                    if (data.success) {
                        // Optionally update the UI here
                        location.reload();
                    } else {
                        alert('Error creating vote');
                    }
                }
            });
        });
    });
</script>